/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  background-color: #38bdf8;
  justify-content: center;
  align-content: center;
  height: 100vh;
}
